.black-friday
    .black-friday__container.js-black-friday
        h2.black-friday__title ДО ГЛАВНОЙ РАСПРОДАЖИ ГОДА В ТРЦ GALAXY ОСТАЛОСЬ:
        .black-friday__countdown.js-countdown
        a.black-friday__read-more(href='#') узнай больше > >