extends layouts/default

block variables
	- const title = "Black Friday"

block content
	include ../blocks/components/black-friday/black-friday

block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")